extends layout

block content
  h1 You added OpenMyDoor to #{team_name}
  p Use these commands to finish setup
  p
    pre
      | heroku config:set SLACK_API_TOKEN=#{access_token} -a openmydoor
      | heroku config:set SLACK_CHANNEL=#{channel} -a openmydoor
